@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  background-color: #666666;
  height: 4em;
  display: flex;
}

nav a {
  color:white;
  line-height: 4em;
  justify-content: space-around;
  padding: 0 2em;
  text-decoration: none;
}

nav a:active {
  background: grey;
}

div.header {
  height: 300px;
  position: relative;
}

div.section {
  height: 5em;
  position: relative;
  background-color: #D293B2;
}

div.section p {
  line-height: 5em;
  text-align: center;
}

div.section.single-meal {
  height: 5em;
  text-align: center;
}

div.section.single-meal p {
  line-height: 5em;
  text-align: center;
}

div.single-meal.card {
  background-color: #333;
  color: beige;
  padding: 2em;
  margin: 2em 1em;
  display: flex;
}

div.card-description { 
  margin-left: 2em;
}

div.single-meal.card h3 {
  padding-bottom: 1em;
  text-justify: left;
}

div.single-meal p {
  line-height: 1.4em;
  text-align: left;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.header h1 {
  color: white;
  font-family: 'Chango', cursive;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  margin-top: -1em;
}

ul { 
  padding: 0;
}

ul.meal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

li.meal {
  flex-basis: 3em;
  align-content: flex-start;
  background-color: #333;
  color: beige;
  list-style: none;
  padding: 2em;
  margin: 2em 1em;
}

li.meal h3 {
  padding: 1rem 0;
  text-align: center;
}

li.meal p {
  line-height: 1.4em;
  text-align: center;
}

img {
  width: 200px;
}

.footer {
  background-color: #666666;
  margin: 0 auto;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  display: block;
}

.footer li {
  line-height: 2em;
  list-style: none;
  padding: 0;
}

.footer .col {
  color: rgba(255, 255, 255, 0.8);
  width: 20%;
}

.footer .social {
  display: inline;
  padding-right: 1em;
}

.footer .col h3 {
  color: white;
  line-height: 2.4em;
}

.footer .col a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer .col a:hover {
  color: white;
}

#map {
  height: 150px;
  width: 100%;
  margin-bottom: 1em;
 }
